*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body,
main,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1D2228;
    color: #E1E2E2
}